<h1 class="blue-grey-text text-darken-1">Tags</h1>

<form method="POST">
	<input type="text" name="tag" placeholder="Enter tag here">
	<input type="hidden" name="id" value="<%= favorite.id %>">
	<button class="btn waves-effect waves-light blue-grey darken-1 white-text" type="submit" name="action">Submit
    	<i class="material-icons right">send</i>
 	</button>
</form>

<% favorite.tags.forEach(function(tag) { %>
	<p><a href="/tags/<%= tag.id %>" class="blue-grey-text text-darken-1"><%= tag.tag %></a></p>
<% }) %>