<h3 class="blue-grey-text text-darken-1"><%= favorite.title %></h3>

<form method="POST">
	<input type="text" name="author" placeholder="Author name">
	<textarea name="body" placeholder="Enter Comment Here"></textarea>
	<input type="hidden" name="id" value="<%= favorite.id %>">
	<button class="btn waves-effect waves-light blue-grey darken-1 white-text" type="submit" name="action">Submit
    	<i class="material-icons right">send</i>
  	</button>
</form>


<% favorite.comments.forEach(function(comment) { %>
	<div class="well">
		<p class="blue-grey-text text-darken-1"><%= comment.body %></p>
		<p class="blue-grey-text text-darken-1">- <%= comment.author %></p>
	</div>
<% }) %>